<h2>Enseignes :</h2>

<% @shops.each do |shop| %>
  <ul>
    <li><%= shop.name %></li>
    <p>
      <strong>Horaires :</strong>
      <% shop.schedules.each do |schedule| %>
        <ul>
          <li>
            <% if schedule.close_am.nil? && schedule.close_pm.nil? %>
              <%= "#{schedule.day} Fermé" %>
            <% elsif schedule.close_am.nil? && schedule.open_pm.nil? %>
              <%= "#{schedule.day} #{schedule.open_am&.strftime("%H:%M")}-#{schedule.close_pm&.strftime("%H:%M")}" %>
            <% else %>
              <%= "#{schedule.day} #{schedule.open_am&.strftime("%H:%M")}-#{schedule.close_am&.strftime("%H:%M")}, #{schedule.open_pm&.strftime("%H:%M")}-#{schedule.close_pm&.strftime("%H:%M")}" %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </p>
  </ul>
<% end %>
